@page
@model UI.Pages.COGSFormModel
@{
    ViewData["Title"] = "COGS";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">Create COGS</h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle example-toggled" data-toggle="tooltip" title="" data-original-title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="form">
            <div class="card-body">
                <div class="form-group">
                    <label style="width:90px">Product :</label>
                    <select class="form-control select2" id="product" style="width: 30%">
                    </select>
                </div>
                <div class="form-group">
                    <label style="width:90px">Type :</label>
                    <select class="form-control select2" id="type" style="width: 30%">
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="tblItems">
                    <thead style="background-color: #04c47c">
                        <tr role="row">
                            <th class="no-sort" colspan="1">
                                <b>Component</b>
                            </th>
                            <th class="no-sort" colspan="1" style="width:80px">
                                <b>Usage</b>
                            </th>
                            <th class="no-sort" colspan="1" style="width:150px">
                                <b>Cost per Unit</b>
                            </th>
                            <th class="no-sort" colspan="1" style="width:150px">
                                <b>Freight per Unit</b>
                            </th>
                            <th class="no-sort" colspan="1" style="width:150px">
                                <b>Total</b>
                            </th>
                            <th class="no-sort" colspan="1" style="width:300px">
                                <b>Notes</b>
                            </th>
                            <th class="no-sort" colspan="1" style="width:80px">
                                <b>Action</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="bodyItem">
                    </tbody>
                </table>
            </div>
            <div class="row" style="margin: 15px 0">
                <button type="button" class="btn btn-primary" id="btnDetailNewRow" onclick="addNewRow()">Add Component</button>
            </div>
            
            <div class="card-footer text-right">
                <button id="btnCancel" type="button" class="btn btn-secondary">Cancel</button>
                <button id="btnSave"   type="button" class="btn btn-primary" onclick="submitData()">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <style>
        .hide {
            display:none;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/pages/cogsform.js"></script>
}